body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0}

input, textarea {
    -webkit-touch-callout: inherit;
    -webkit-user-select: text;
    outline: none;
    font-size:inherit;
    font-family: inherit;
    border: 0;
}


input::-webkit-input-placeholder{
  color: #aaa;
}


html {
    height: 100%;
    -webkit-text-size-adjust: none;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
a:focus {
    outline: 0
}

ul,ol{list-style:none}

input[type="radio"],input[type="checkbox"],
input[type="search"]::-webkit-search-cancel-button{
  visibility: hidden; 
  width: 0; height:0; 
  background:none; 
  border:0 none; 
  position: absolute; 
  left:0; top:0;
  -webkit-appearance:none;
}


img {
    max-width: 100%;
    border: 0;
    background-size: 100%;
}

button{ border:0; outline: none;}

p{
  line-height: 1.6
}


*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}


* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}


.clearfix:after, .clearfix:before {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.hidden {
  display: none!important;
  visibility: hidden!important;
}

.l{ float: left;}
.r{ float: right;}



/* 遮罩层 */
@-webkit-keyframes mask-ani{
    0%{ background-color:rgba(0,0,0,0); }
    100%{ background-color:rgba(0,0,0,.75); }
}

@-webkit-keyframes move-up-down-ani{
    0%{ -webkit-transform: translateY(100%); }
    100%{ -webkit-transform: translateY(0%); }
}

@-webkit-keyframes move-up-ani{
    0%{ -webkit-transform: translateY(100%); }
    100%{ -webkit-transform: translateY(0%); }
}

@-webkit-keyframes zoom-in-out-ani{
    0%,100%{ -webkit-transform:scale(1); }
    75%{ -webkit-transform:scale(1.1); }
}


.pop,.mask,.pop-c{
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
}

.pop{ z-index: 10; }
  
.mask{-webkit-animation: mask-ani .3s linear forwards;}


.pop-c.move-up{
  -webkit-animation: move-up-ani .3s ease forwards;
}

.pop-c.move-up-down{
  -webkit-animation: move-up-down-ani .3s forwards;
  -webkit-animation-timing-function:cubic-bezier(0.110, 0.875, 0.430, 1.420);
}

.pop-c.zoom-in-out{
  -webkit-animation: zoom-in-out-ani .3s linear forwards;
}


/*字体颜色*/

.color-success{color: #8ac628 !important;}
.color-important{ color: #ff8a00 !important;}
.color-primary{ color: #007aff !important;}

.color-green{ color: #22cb20 !important;}
.color-blue{ color: #10aeff !important;}
.color-yellow{ color: #fa9d3b !important;}
.color-red{ color: #fa5151 !important;}


/*背景颜色*/

.bgcolor-green{ background-color: #22cb20 !important;}
.bgcolor-blue{ background-color: #10aeff !important;}
.bgcolor-yellow{ background-color: #fa9d3b !important;}
.bgcolor-red{ background-color: #fa5151 !important;}


/*mt*/
.mt20{ margin-top: 20px !important; }

.center{text-align: center;}

.space{
  background-color: #eee;
  height: 15px;
  position: relative;
}

.space:after,.space:before{
  content:"";
  position: absolute;
  left:0;
  right:0;
  -webkit-transform:scaleY(.5);
}

.space:after{
  bottom:0;
  border-bottom:1px solid #ddd;
  -webkit-transform-origin:0 1px;
}

.space:before{
  top:0;
  border-top:1px solid #ddd;
  -webkit-transform-origin:0 0;
}


@-webkit-keyframes rotate{
    0%{ -webkit-transform:rotate(0deg); }
    100%{ -webkit-transform:rotate(360deg); }
}

.rotate{
  -webkit-animation:rotate 0.4s linear infinite;
}


/*================ 主体页面样式2014-10-16 ==============================*/

/*
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}

@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}
*/


body{
  height: 100%;
  width: 100%;
  background: #eee;
  color: #555;
  font: 12px/1 "tahoma,Microsoft Yahei";
}

.wrap{
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling:touch;
}

.bottom-load {text-align:center; background:#eee;}

/*猫钓鱼load*/
.load-page{
  height:100%;
  position: relative;
}

.load-page:before{
  content: "";
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
}

.load-page:after{
  position: absolute;
  bottom: 30%; left: 50%;
  -webkit-transform: translateX(-50%);
  color: #aaa;
}

.load-page.wait:before{
  background: url(../images/load-page-wait.gif) no-repeat center center;
  background-size: 100%;
}

.load-page.wait:after{
  content: "正在努力钓取内容~";
}

.load-page.error:before{
  background: url(../images/load-page-error.gif) no-repeat center center;
  background-size: 100%;
}

.load-page.error:after{
  content: "钓取内容失败！请检查网络并重试";
}

.load-page.nomore:before{
  background: url(../images/load-page-nomore.gif) no-repeat center center;
  background-size: 100%;
}

.load-page.nomore:after{
  content: "没有内容了~";
}



.load-more{
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #aaa;
}

.load-more:before{
  content: "正在加载...";
  vertical-align: middle;
}

.load-more:after{
  display: inline-block;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../images/load-more.gif) no-repeat center center;
  background-size: 100%;
  vertical-align: middle;
}

