@font-face {
  font-family: 'iconsgl';
  src:url('../font/iconsgl.eot?-q3qid3');
  src:url('../font/iconsgl.eot?#iefix-q3qid3') format('embedded-opentype'),
    url('../font/iconsgl.ttf?-q3qid3') format('truetype'),
    url('../font/iconsgl.woff?-q3qid3') format('woff'),
    url('../font/iconsgl.svg?-q3qid3#iconsgl') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-m"], [class*=" icon-m"] {
  font-family: 'iconsgl';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-m.icon-home:before {
  content: "\e600";
}
.icon-m.icon-home-fill:before {
  content: "\e601";
}
.icon-m.icon-know:before {
  content: "\e602";
}
.icon-m.icon-know-fill:before {
  content: "\e603";
}
.icon-m.icon-here:before {
  content: "\e604";
}
.icon-m.icon-here-fill:before {
  content: "\e605";
}
.icon-m.icon-tool:before {
  content: "\e606";
}
.icon-m.icon-tool-fill:before {
  content: "\e607";
}
.icon-m.icon-user:before {
  content: "\e608";
}
.icon-m.icon-user-fill:before {
  content: "\e609";
}
.icon-m.icon-user-add:before {
  content: "\e60a";
}
.icon-m.icon-user-add-fill:before {
  content: "\e60b";
}
.icon-m.icon-user-group:before {
  content: "\e60c";
}
.icon-m.icon-user-group-fill:before {
  content: "\e60d";
}
.icon-m.icon-user-vip:before {
  content: "\e60e";
}
.icon-m.icon-user-round:before {
  content: "\e60f";
}
.icon-m.icon-user-round-fill:before {
  content: "\e610";
}
.icon-m.icon-male:before {
  content: "\e611";
}
.icon-m.icon-female:before {
  content: "\e612";
}
.icon-m.icon-back:before {
  content: "\e613";
}
.icon-m.icon-forward:before {
  content: "\e614";
}
.icon-m.icon-arrow-left:before {
  content: "\e615";
}
.icon-m.icon-arrow-right:before {
  content: "\e616";
}
.icon-m.icon-arrow-up:before {
  content: "\e617";
}
.icon-m.icon-arrow-down:before {
  content: "\e618";
}
.icon-m.icon-arrow-left-round:before {
  content: "\e619";
}
.icon-m.icon-arrow-right-round:before {
  content: "\e61a";
}
.icon-m.icon-arrow-up-round:before {
  content: "\e61b";
}
.icon-m.icon-arrow-down-round:before {
  content: "\e61c";
}
.icon-m.icon-unfold:before {
  content: "\e61d";
}
.icon-m.icon-fold:before {
  content: "\e61e";
}
.icon-m.icon-check:before {
  content: "\e61f";
}
.icon-m.icon-check-round:before {
  content: "\e620";
}
.icon-m.icon-check-fill:before {
  content: "\e621";
}
.icon-m.icon-close:before {
  content: "\e622";
}
.icon-m.icon-close-round:before {
  content: "\e623";
}
.icon-m.icon-close-fill:before {
  content: "\e624";
}
.icon-m.icon-circle:before {
  content: "\e625";
}
.icon-m.icon-square:before {
  content: "\e626";
}
.icon-m.icon-checkbox:before {
  content: "\e627";
}
.icon-m.icon-checkbox-fill:before {
  content: "\e628";
}
.icon-m.icon-star:before {
  content: "\e629";
}
.icon-m.icon-star-fill:before {
  content: "\e62a";
}
.icon-m.icon-star2:before {
  content: "\e62b";
}
.icon-m.icon-star2-fill:before {
  content: "\e62c";
}
.icon-m.icon-star2-half:before {
  content: "\e62d";
}
.icon-m.icon-emoji:before {
  content: "\e62e";
}
.icon-m.icon-smile:before {
  content: "\e62f";
}
.icon-m.icon-angry:before {
  content: "\e630";
}
.icon-m.icon-appreciate:before {
  content: "\e631";
}
.icon-m.icon-appreciate-fill:before {
  content: "\e632";
}
.icon-m.icon-send:before {
  content: "\e633";
}
.icon-m.icon-send-fill:before {
  content: "\e634";
}
.icon-m.icon-go:before {
  content: "\e635";
}
.icon-m.icon-position:before {
  content: "\e636";
}
.icon-m.icon-position-fill:before {
  content: "\e637";
}
.icon-m.icon-fix:before {
  content: "\e638";
}
.icon-m.icon-fix-fill:before {
  content: "\e639";
}
.icon-m.icon-map:before {
  content: "\e63a";
}
.icon-m.icon-img:before {
  content: "\e63b";
}
.icon-m.icon-imgs:before {
  content: "\e63c";
}
.icon-m.icon-video:before {
  content: "\e63d";
}
.icon-m.icon-book:before {
  content: "\e63e";
}
.icon-m.icon-font:before {
  content: "\e63f";
}
.icon-m.icon-search:before {
  content: "\e640";
}
.icon-m.icon-tool2:before {
  content: "\e641";
}
.icon-m.icon-clear:before {
  content: "\e642";
}
.icon-m.icon-upload:before {
  content: "\e643";
}
.icon-m.icon-share:before {
  content: "\e644";
}
.icon-m.icon-refresh:before {
  content: "\e645";
}
.icon-m.icon-refresh2:before {
  content: "\e646";
}
.icon-m.icon-refresh3:before {
  content: "\e647";
}
.icon-m.icon-scan:before {
  content: "\e648";
}
.icon-m.icon-shop:before {
  content: "\e649";
}
.icon-m.icon-level:before {
  content: "\e64a";
}
.icon-m.icon-mission:before {
  content: "\e64b";
}
.icon-m.icon-note:before {
  content: "\e64c";
}
.icon-m.icon-collect:before {
  content: "\e64d";
}
.icon-m.icon-qrcode:before {
  content: "\e64e";
}
.icon-m.icon-mic:before {
  content: "\e64f";
}
.icon-m.icon-ticket:before {
  content: "\e650";
}
.icon-m.icon-setting:before {
  content: "\e651";
}
.icon-m.icon-track:before {
  content: "\e652";
}
.icon-m.icon-phone:before {
  content: "\e653";
}
.icon-m.icon-phone-book:before {
  content: "\e654";
}
.icon-m.icon-trophy:before {
  content: "\e655";
}
.icon-m.icon-medal:before {
  content: "\e656";
}
.icon-m.icon-rank:before {
  content: "\e657";
}
.icon-m.icon-gift:before {
  content: "\e658";
}
.icon-m.icon-crown:before {
  content: "\e659";
}
.icon-m.icon-money:before {
  content: "\e65a";
}
.icon-m.icon-money2:before {
  content: "\e65b";
}
.icon-m.icon-cash:before {
  content: "\e65c";
}
.icon-m.icon-gold:before {
  content: "\e65d";
}
.icon-m.icon-pay-way:before {
  content: "\e65e";
}
.icon-m.icon-rmb-fill:before {
  content: "\e65f";
}
.icon-m.icon-rmb:before {
  content: "\e660";
}
.icon-m.icon-dollar:before {
  content: "\e661";
}
.icon-m.icon-envelope:before {
  content: "\e662";
}
.icon-m.icon-vip-card:before {
  content: "\e663";
}
.icon-m.icon-edit:before {
  content: "\e664";
}
.icon-m.icon-edit2:before {
  content: "\e665";
}
.icon-m.icon-sofa:before {
  content: "\e666";
}
.icon-m.icon-wechat:before {
  content: "\e667";
}
.icon-m.icon-friends-circle:before {
  content: "\e668";
}
.icon-m.icon-qq:before {
  content: "\e669";
}
.icon-m.icon-qzone:before {
  content: "\e66a";
}
.icon-m.icon-weibo:before {
  content: "\e66b";
}
.icon-m.icon-tx-weibo:before {
  content: "\e66c";
}
.icon-m.icon-ios:before {
  content: "\e66d";
}
.icon-m.icon-android:before {
  content: "\e66e";
}
.icon-m.icon-wm:before {
  content: "\e66f";
}
.icon-m.icon-alipay:before {
  content: "\e670";
}
.icon-m.icon-recharge:before {
  content: "\e671";
}
.icon-m.icon-shild:before {
  content: "\e672";
}
.icon-m.icon-wallet:before {
  content: "\e673";
}
.icon-m.icon-hot:before {
  content: "\e674";
}
.icon-m.icon-hot-fill:before {
  content: "\e675";
}
.icon-m.icon-comment:before {
  content: "\e676";
}
.icon-m.icon-comment-fill:before {
  content: "\e677";
}
.icon-m.icon-time:before {
  content: "\e678";
}
.icon-m.icon-time-fill:before {
  content: "\e679";
}
.icon-m.icon-warm:before {
  content: "\e67a";
}
.icon-m.icon-warm-fill:before {
  content: "\e67b";
}
.icon-m.icon-info:before {
  content: "\e67c";
}
.icon-m.icon-info-fill:before {
  content: "\e67d";
}
.icon-m.icon-help:before {
  content: "\e67e";
}
.icon-m.icon-help-fill:before {
  content: "\e67f";
}
.icon-m.icon-focus:before {
  content: "\e680";
}
.icon-m.icon-focus-fill:before {
  content: "\e681";
}
.icon-m.icon-add:before {
  content: "\e682";
}
.icon-m.icon-add-round:before {
  content: "\e683";
}
.icon-m.icon-add-fill:before {
  content: "\e684";
}
.icon-m.icon-like:before {
  content: "\e685";
}
.icon-m.icon-like-fill:before {
  content: "\e686";
}
.icon-m.icon-tag:before {
  content: "\e687";
}
.icon-m.icon-tag-fill:before {
  content: "\e688";
}
.icon-m.icon-notice:before {
  content: "\e689";
}
.icon-m.icon-notice-fill:before {
  content: "\e68a";
}
.icon-m.icon-camare:before {
  content: "\e68b";
}
.icon-m.icon-camare-fill:before {
  content: "\e68c";
}
.icon-m.icon-analysis:before {
  content: "\e68d";
}
.icon-m.icon-analysis-fill:before {
  content: "\e68e";
}
.icon-m.icon-message:before {
  content: "\e68f";
}
.icon-m.icon-message-fill:before {
  content: "\e690";
}
.icon-m.icon-img-group:before {
  content: "\e691";
}
.icon-m.icon-img-group-fill:before {
  content: "\e692";
}
.icon-m.icon-img-group2:before {
  content: "\e693";
}
.icon-m.icon-list:before {
  content: "\e694";
}
.icon-m.icon-attachment:before {
  content: "\e695";
}
.icon-m.icon-link:before {
  content: "\e696";
}
.icon-m.icon-more:before {
  content: "\e697";
}
.icon-m.icon-weather0:before {
  content: "\e698";
}
.icon-m.icon-weather1:before {
  content: "\e699";
}
.icon-m.icon-weather2:before {
  content: "\e69a";
}
.icon-m.icon-weather3:before {
  content: "\e69b";
}
.icon-m.icon-weather4:before {
  content: "\e69c";
}
.icon-m.icon-weather5:before {
  content: "\e69d";
}
.icon-m.icon-weather6:before {
  content: "\e69e";
}
.icon-m.icon-weather7:before {
  content: "\e69f";
}
.icon-m.icon-weather8:before {
  content: "\e6a0";
}
.icon-m.icon-weather9:before {
  content: "\e6a1";
}
.icon-m.icon-weather10:before {
  content: "\e6a2";
}
.icon-m.icon-weather11:before {
  content: "\e6a3";
}
.icon-m.icon-weather12:before {
  content: "\e6a4";
}
.icon-m.icon-weather13:before {
  content: "\e6a5";
}
.icon-m.icon-weather14:before {
  content: "\e6a6";
}
.icon-m.icon-weather15:before {
  content: "\e6a7";
}
.icon-m.icon-weather16:before {
  content: "\e6a8";
}
.icon-m.icon-weather17:before {
  content: "\e6a9";
}
.icon-m.icon-weather18:before {
  content: "\e6aa";
}
.icon-m.icon-weather19:before {
  content: "\e6ab";
}
.icon-m.icon-weather20:before {
  content: "\e6ac";
}
.icon-m.icon-weather21:before {
  content: "\e6ad";
}
.icon-m.icon-weather22:before {
  content: "\e6ae";
}
.icon-m.icon-weather23:before {
  content: "\e6af";
}
.icon-m.icon-weather24:before {
  content: "\e6b0";
}
.icon-m.icon-weather25:before {
  content: "\e6b1";
}
.icon-m.icon-weather26:before {
  content: "\e6b2";
}
.icon-m.icon-weather27:before {
  content: "\e6b3";
}
.icon-m.icon-weather28:before {
  content: "\e6b4";
}
.icon-m.icon-weather29:before {
  content: "\e6b5";
}
.icon-m.icon-weather30:before {
  content: "\e6b6";
}
.icon-m.icon-weather31:before {
  content: "\e6b7";
}
.icon-m.icon-weather32:before {
  content: "\e6b8";
}
.icon-m.icon-weather33:before {
  content: "\e6b9";
}
.icon-m.icon-weather34:before {
  content: "\e6ba";
}
.icon-m.icon-weather35:before {
  content: "\e6bb";
}
.icon-m.icon-weather36:before {
  content: "\e6bc";
}
.icon-m.icon-weather37:before {
  content: "\e6bd";
}
.icon-m.icon-weather38:before {
  content: "\e6be";
}
.icon-m.icon-weather39:before {
  content: "\e6bf";
}
.icon-m.icon-report:before {
  content: "\e6c0";
}
.icon-m.icon-cart:before {
  content: "\e6c1";
}
