.top-btn{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: rgba(255,255,255,0);
	overflow: hidden;
	-webkit-transition:1s linear background-color;
	box-sizing: content-box;
}

.top-btn:after{
	opacity: 0;
	-webkit-transition:1s linear all;
}

.top-btn-ani:after{
	opacity: 1;
}


.top-btn div{
	border-radius: 1000px;
	width: 32px;
	height: 32px;
	line-height: 35px;
	text-align: center;
	background-color: rgba(255,255,255,.85);
	font-size: 20px;
	color: #555;
	margin: 6px 4px;
	-webkit-transition:0.4s linear all;
}


.top-btn div:first-child{
	margin-left: 12px;
}
.top-btn div:nth-child(2){
	margin-right: 12px;
}



.top-btn-ani div{
	background-color: rgba(255,255,255,0);
}

.top-btn-ani{
	background-color: rgba(255,255,255,.85);
}



.slider{
	height: 215px;
	overflow: hidden;
	position: relative;
}
.slider ul{
	width: 500%;
	position: absolute;
	top: 0;
	left: 0;
}

.slider li{
	float: left;
}
.slider .status{
	position: absolute;
	bottom:10px;
	right: 10px;
	color: #fff;
}

.head-info{
	min-height: 60px;
	background-color: #fff;
	position: relative;
	padding-bottom: 10px;
}

.head-info .level{
	float: right;
	width: 60px;
	text-align: center;
}

.head-info .level:after{
	top: 10%; 
}

.head-info .level img{
	width: 35px;
	height: 35px;
	margin-top: 5px;
}

.head-info .img-box{
	width: 57px;
	height: 57px;
	overflow: hidden;
	position: absolute;
	top: -8px;
	left: 12px;
	background-color: #fff;
}

.head-info .img-box .icon-m{
	font-size: 32px;
}


.head-info h2{
	padding: 8px 70px 8px 80px;
}

.head-info .price{
	padding-left: 80px;
	color: #aaa;
}


.head-info .price strong{
	font-size: 16px;
	color: #ff8a00;
}

.head-info .price .ago{
	margin-left: 5px;
	text-decoration: line-through;
}


.announcement{
	background-color: #fffcd7;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
	padding: 10px 10px 20px;
	line-height: 1.5;
	margin-top: 10px;
	position: relative;
	font-size: 13px;
}

.announcement:first-letter{
	font-size: 16px;
	margin-right: 2px;
}

.announcement:after{
	content: "  —— 钓场公告";
	font-style: italic;
	color: #ff8a00;
	position: absolute;
	bottom:5px;
	right: 10px;
}

.parameter{
	background-color: #fff;
	color: #555;
	margin-top: 10px;
	overflow: hidden;
}

.parameter>ul>li{
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	font-size: 14px;
}

.assort{
	border-top: 1px dashed #ddd;
	color: #4f638f;
	background-color: #f5f5f5;
	position: relative;
	padding: 0 10px;
}

.assort:before,.assort:after{
	content: "";
	width: 14px;
	height: 14px;
	border-radius: 1000px;
	background-color: #ddd;
	display: block;
	position: absolute;
	top: -7px; 
}

.assort:before{
	left: -7px;
}

.assort:after{
	right: -7px;
}


.assort li{
	float: left;
	margin-right: 22px;
	height: 35px;
	line-height: 35px;
}

.assort li .icon-m{
	margin-right: 3px;
	vertical-align: -1px;
	font-size: 13px;
}

.assess{
	background-color: #fff;
	margin-top: 10px;
}

.assess .hd{
	height: 33px;
	line-height: 33px;
	padding: 0 10px;
	font-size: 14px;
}

.shop-data{
	background-color: #fff;
	margin-top: 10px;
}


.shop-data .score{
	overflow: hidden;
}

.shop-data .score li{
	width: 33.333333%;
	height: 33px;
	line-height: 33px;
	color: #aaa;
	text-align: center;
	float: left;
	padding: 0 10px;
}

.shop-data .score li:first-child{
	text-align: left;
}

.shop-data .score li:last-child{
	text-align: right;
}

.shop-data .score .num{
	margin-right: 3px;
}

.shop-data .score .num.high{ color: #ff4e00;}
.shop-data .score .num.medium{ color: #ffb129;}
.shop-data .score .num.low{ color: #3dc308;}


.shop-data .data{
	overflow: hidden;
}

.shop-data .data li{
	width: 33.333333%;
	height: 50px;
	float: left;
	text-align: center;
	position: relative;
}

.shop-data .data .border-right:after{
	height: 38px;
	top: 6px;
}

.shop-data .data li div{
	font-size: 16px;
	padding: 10px 0 5px;
}

.address{
	height: 50px;
	padding: 0 10px;
	color: #aaa;
	overflow: hidden;
}

.address h2,.address div{
	padding-top: 8px;
}

.address h2{
	font-size: 12px;
}

.contacts{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}

.contacts li{
	float: left;
	text-align: center;
	color: #555;
	width: 50%;
	font-size: 13px;
}

.contacts li .icon-m{
	margin-right: 5px;
	color: #007aff;
	font-size: 15px;
	vertical-align: -2px;
}

.forecast{
	height: 76px;
	background-color: #fff;
	color: #555;
	margin-top: 10px;
}

.forecast .inner{
	height: 100%;
}

.forecast .index{
	text-align: center;
	float: left;
	width: 90px;
}

.forecast .index:after{
	top: 6px;
	height: 64px;
}

.forecast .index strong{
	font-size: 31px;
	color: #4f638f;
	display: inline-block;
	padding: 10px 0 10px;
	position: relative;
}

.forecast .degree-badage{
	position: absolute;
	top: 5px;
	right: -16px;
}


.forecast .content{
	margin-left: 100px;
	margin-right: 40px;
	position: relative;
	height: 100%;
}

.forecast .content h2{
	font-size: 12px;
	color: #4f638f;
	line-height: 1.3;
	padding-top: 10px;
	padding-bottom: 10px;
}

.forecast .r{
	height: 100%;
	width: 40px;
	text-align: center;
	font-size: 30px;
}

.forecast .r:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.forecast .r .icon-m{
	vertical-align: middle;
}

.useraction{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.useraction li{
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 15px;
}

.useraction li .icon-m{
	margin-right: 2px;
	vertical-align: -1px;
}

.useraction .buy{
	float: left;
	width: 60%;
	background-color: #ff6000;
	color: #fff;
}


.useraction .favior,.useraction .report{
	color: #516288;
	background-color: #f4f4f4;
}


.useraction li:only-child{
	width: 100% !important;
}

.useraction .favior{
	width: 40%;
}

.useraction .report{
	width: 40%;
}

.useraction .report+.favior{
	width: 60%;
}


